#root {
  font-family: sans-serif;
}
button {
  background-color: #337ab7;
  border-radius: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 7px 120px 90px darkblue;
  width: 50px;
}
button:focus {
  border: 5px solid lightblue;
}
#progress-bar {
  border: 2px solid green;
}
h1 {
  font-family: cursive;
}
